
<h1 class="text-center mt-4">Articles listing Page</h1>
<%= render 'article'%>

  <%# link_to won't work due to line 10 within application.html.erb file being commented out. so I used button_to until I can find a fix. %>
   

